# Flask==2.2.2
# numpy==1.21.6
# opencv-python==4.5.3.56
# boto3==1.18.52
# Werkzeug==2.2.2
# pytz==2022.7

Flask==2.3.3
Werkzeug>=2.3.7
numpy==1.24.4
opencv-python==4.8.0.76
boto3==1.28.3
pytz==2023.3
